.greenf {
  color: green;
}
/*#red{
  font-size: x;
}*/

#sidebar {
  font-size: 60px;
  /*padding: 15px;*/
}

nav{
	position: fixed;
	left: 20px;
	top: 50%;
	background-color: #ff33ff;
}

body {
  /*background-color: orange;*/
}

nav ul {
	list-style: none;
	margin: 0;
	padding:0;
}

nav ul li {
	/*float: left;*/
}

nav ul li:hover {
	background-color: yellow;
}

nav ul li a:hover {
	color:black;
}

nav ul li a {
	display: block;
	padding: 0 5px;
	text-decoration: none;
	color:white;
}

